.navbar-inverse .navbar-brand {
  color: #fff;
  font-size: 23px;
}
.boxes-wrap {
  background-color: #eee;
  height: 100vh;
}
.box {
  background-color: #fff;
  border-radius: 4px 4px 4px 4px;
  max-height: 80vh;
  margin-top: 80px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1);
  padding: 20px;
  position: relative;
}
.box-header {
  margin: 0 0 10px 0;
}
.box-body {
  overflow: auto;
  max-height: 70%;
  max-height: 70vh;
}
.box-footer {
  height: 20px;
  background-color: #fff;
  position: relative;
  bottom: 0px;
}
.box h4 {
  font-weight: 700;
  display: inline-block;
  margin: 0;
}
.card-entry {
  background-color: #265a88;
  border-radius: 3px 3px 3px 3px;
  color: #fff;
  -webkit-border-radius: 3px 3px 3px 3px;
  padding: 10px 20px;
  margin: 10px 0;
  position: relative;
  height: 44px;
}
.card-actions {
  position: absolute;
  right: 0;
  top: 8px;
}
.card-actions a {
  /*color: #fff;*/
  display: inline-block;
}
.card-entry .dropdown {
  display: inline-block;
}
.card-entry p {
  margin: 0;
}
.blue, .blue:hover,
#select-color li a.blue:hover      {background-color: #265a88!important;}
.red, .red:hover,
#select-color li a.red:hover        {background-color: #c12e2a!important;}
.green, .green:hover,
#select-color li a.green:hover    {background-color: #419641!important;}
.yellow, .yellow:hover,
#select-color li a.yellow:hover  {background-color: #eb9316!important;}

#board-wrap {height: 100vh;}

.trash-area {
  background-color: rgba(255, 255, 255, 0.95);
  bottom: 0;
  height: 150px;
  padding: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.trash-area h4 {
  margin-top: 0px;
}
.draggable {
   display:inline-block;
   border:1px solid blue;
   height: 22px;
   width: 25px;
   margin-right: 1px;
   text-align: center;
   vertical-align: center;
}
.droppable {
    position: absolute;
    border:1px solid black;
    height:100px;
    width:200px;
    display:inline-block;
    margin-left:50px;
    text-align: right;
}
.bottom {
    position: absolute;
    bottom: 0;
    height:25px;
    width:200px;
}

/*--------------- cards ----------------*/
#sortableLogs,
#sortableProgress,
#sortableDone {
  min-height: 200px;
}
.ui-sortable-placeholder {
  background-color: #e1e1e1;
  height: 40px;
  border-radius: 3px;
}
.ui-sortable-helper {
  -ms-transform: rotate(3deg); 
    -webkit-transform: rotate(3deg); 
    transform: rotate(3deg);
}
.card-entry:hover {
  cursor: move;
}
.card-entry #select-color li:hover {
  cursor: pointer;
}
.card-entry a {
  color: #fff;
}
#btn-save {
  background: none;
  border: none;
}
#edit-wrap {
  width: 100%;
}
#card-name,
#edit-wrap {float: left;}
#edit-wrap {display: none;}
#card-name {display: block;}

#edit-wrap input {
  background: rgba(255,255,255, 0.2);
  color: #fff;
  border: none;
  padding: 0px 5px;
  font-size: 15px;
  width: 80%;
}
#edit-wrap input:focus {
  box-shadow: none;
  outline: none;
  border: none;
}
#select-color {
    display: block;
    z-index: 1000;
    margin-left: -81px;
    position: relative;
}
#select-color li {
  margin: 0 5px;
}
#select-color li a,
#select-color li {
  height: 23px;
}
#select-color li a:hover {
  background: none!important;
}
#btn-edit-name, .card-entry .dropdown .btn-default {
  font-size: 12px;
  padding: 0 5px;
}
.box input[type="text"] {
  color: #333;
}
.box ul {
  padding: 0;
}
.dndPlaceholder {
    background-color: #ddd !important;
    min-height: 42px;
    display: block;
    position: relative;
}
.dropdown-menu {
  margin: 5px 0;
}

/*--------------- trash bin ----------------*/
.trash-area h4 {
  display: inline-block;
  margin-right: 20px;
}
.trash-cards {
  background: #eee;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 6px;
  margin: 4px 6px;

}


/*--------------- overrides ----------------*/
.card-entry .btn-default {
  border: none;
  background: none;
  color: #fff;
  padding: 0;
}
.card-entry a:hover {
  text-decoration: none;
}
.dropdown-menu {
  margin-top: 0;
  min-width: 100px;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default,
.open>.dropdown-toggle.btn-default:hover {
  color: #fff;
  background: none;
  border: none;
  background-color: transparent;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background: none!important;
}


/*--------------- helpers ----------------*/
.pl5 {padding-left: 5px;}
.mr5 {margin-right: 5px;}
.rel {position: relative;}
.abs {position: absolute;}
/**/
/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li {
  position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

