
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rodello</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="css/joyride-2.1.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="rodelloApp">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Rodello</a>
        </div>
      </div>
    </nav>

    <div class="boxes-wrap row" ng-controller="CardController">
      <div class="container-fluid">

      <div class="col-md-12 rel" id="board-wrap" id="joyRideTipContent">
          <div class="clearfix">
            <div ng-repeat="(listName, list) in models.lists"  class="col-md-4 col-sm-4 col-xs-12">
              <div class="box">
                <div class="box-header clearfix">
                  <h4 id="tour1">{{ listName }}</h4>
                  <button id="tour2" ng-click="addCard(listName)" class="pull-right btn btn-md btn-primary"><span class="glyphicon glyphicon-plus mr5 "></span>Add</button>
                  <button id="tour3" ng-click="clearBoard(listName)" class="mr5 pull-right btn btn-md btn-default "> <span class="glyphicon glyphicon-erase mr5"></span>Clear</button>
                </div>
                <div class="box-body clearfix">
                  <ul class="box-body" dnd-list="list">
                    <li id="tour4" class="card-entry" 
                      dnd-draggable="item"
                      dnd-moved="list.splice($index, 1)"
                      dnd-effect-allowed="move"
                      dnd-selected="models.selected = item"
                      ng-class="{'selected': models.selected === item}"
                      ng-mouseenter="showOptions = true" 
                      ng-mouseleave="showOptions = false" 
                      style="background-color:{{item.color}}"
                      ng-repeat="item in list | filter: query"
                    >
                      <p ng-hide="editorEnabled" id="card-name">{{item.label}}</p>
                      <div class="clearfix" ng-show="editorEnabled">
                        <input ng-model="item.label" type="text" class="pull-left">
                        <button id="btn-save" ng-click="editorEnabled=!editorEnabled" class="pull-right" type="submit">
                          <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                      </div>
                      <div  class="pull-right options" ng-show="showOptions">
                        <a id="btn-edit-name" href="" 
                          ng-click="editorEnabled=!editorEnabled">
                          <span ng-hide="editorEnabled" class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <div class="dropdown">
                          <button ng-hide="editorEnabled" class="btn btn-default dropdown-toggle" type="button" 
                            ng-click="colorEnabled=!colorEnabled"
                          >
                            <span class="glyphicon glyphicon-tasks"></span>
                          </button>

                          <ul class="dropdown-menu pull-right" id="select-color" ng-show="colorEnabled" ng-hide="showOptions">
                            <li><a href="" class="blue"   ng-click="changeColor(listName, 'DarkBlue', $index)"></a></li>
                            <li><a href="" class="green"  ng-click="changeColor(listName, 'ForestGreen', $index)"></a></li>
                            <li><a href="" class="yellow" ng-click="changeColor(listName, 'GoldenRod ', $index)"></a></li>
                            <li><a href="" class="red"    ng-click="changeColor(listName, 'FireBrick', $index)"></a></li>
                          </ul>
                        </div>
                        <a id="btn-edit-name" href="" 
                          ng-hide="editorEnabled"
                          ng-click="moveToTrash(listName, item, $index)">
                          <span class="glyphicon glyphicon-trash"></span>
                        </a>
                      </div>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="abs trash-area">
          <div class="clearfix">
            <h4 class="pull-left" id="tour5">Trash items</h4>
          </div>
          <div class="" ng-repeat="items in models.trashItems">
            <div class="trash-cards col-md-2 col-sm-2 col-xs-6" ng-repeat="item in items">
              <div class="clearfix">
                {{item.label}} 
                <button ng-click="purgeTrash($index)" class="pull-right btn btn-xs btn-danger">
                  <span class="glyphicon glyphicon-fire mr5"></span> Purge
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <tour step="currentStep" post-tour="postTourCallback()" post-step="postStepCallback()" tour-complete="tourCompleteCallback()">
    <virtual-step
      tourtip="Angular Tour allows you to give an interactive tour to showcase the features of your website."
      tourtip-next-label="Learn more"
      tourtip-placement="right"
      tourtip-step="0"
      tourtip-element="#e0"></virtual-step>
    <virtual-step
      tourtip="Angular tour has some cool features."
      tourtip-placement="right"
      tourtip-step="1"
      tourtip-element="#e1"></virtual-step>
    <virtual-step
      tourtip="And is tested in all major browsers."
      tourtip-next-label="Continue"
      tourtip-placement="bottom"
      tourtip-step="2"
      tourtip-element="#e2"></virtual-step>
    <virtual-step
      tourtip="Thanks for reading. Head over to the github page for more info."
      tourtip-next-label="Finish"
      tourtip-placement="left"
      tourtip-step="13"
      tourtip-element="#e13"></virtual-step>
  </tour>

  
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-drag-and-drop-lists.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <!-- for site tour only -->
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/angular-tour-tpls.js"></script>

    
  </body>
</html>