
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rodello</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="rodelloApp">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Rodello</a>
        </div>
      </div>
    </nav>

    <div class="boxes-wrap row" ng-controller="CardController">
      <div class="container-fluid">

      <div class="col-md-12">
          
          <div class="clearfix">

            <div ng-repeat="(listName, list) in models.lists"  class="col-md-4 col-sm-4 col-xs-12">
              <div class="box">
                <div class="box-header clearfix">
                  <h4>{{ listName }}</h4>
                  <button ng-click="addCard(listName)" class="pull-right btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <div class="box-body clearfix">
                  <ul dnd-list="list">
                    <li class="card-entry blue" 
                      ng-repeat="item in list"
                      dnd-draggable="item"
                      dnd-moved="list.splice($index, 1)"
                      dnd-effect-allowed="move"
                      dnd-selected="models.selected = item"
                      ng-class="{'selected': models.selected === item}"
                      ng-mouseenter="showOptions = true" 
                      ng-mouseleave="showOptions = false" 
                      style="background-color:{{item.color}}"
                      ng-repeat="item in list | filter: query"

                    >
                      <p ng-hide="editorEnabled" id="card-name">{{item.label}}</p>
                      <div class="clearfix" ng-show="editorEnabled">
                        <input ng-model="item.label" type="text" class="pull-left">
                        <button id="btn-save" ng-click="editorEnabled=!editorEnabled" class="pull-right" type="submit">
                          <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                      </div>
                      <div  class="pull-right options" ng-show="showOptions">
                        <a id="btn-edit-name" href="" 
                          ng-click="editorEnabled=!editorEnabled">
                          <span ng-hide="editorEnabled" class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <div class="dropdown">
                          <button ng-hide="editorEnabled" class="btn btn-default dropdown-toggle" type="button" 
                            ng-click="colorEnabled=!colorEnabled"
                          >
                            <span class="glyphicon glyphicon-tasks"></span>
                          </button>

                          <ul class="dropdown-menu pull-right" id="select-color" 
                            ng-model="item.color"
                            ng-show="colorEnabled"
                            ng-hide="showOptions"
                          >
                            <li><a ng-click="toggleBox()" href="" class="blue" value="blue" ng-model="item.color"></a></li>
                            <li><a ng-click="toggleBox()" href="" class="green" value="green" ng-model="item.color"></a></li>
                            <li><a ng-click="toggleBox()" href="" class="yellow" value="yellow" ng-model="item.color"></a></li>
                            <li><a ng-click="toggleBox()" href="" class="red" value="red" ng-model="item.color"></a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

      </div>

      <div class="hidden-lg col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Generated Model</h3>
              </div>
              <div class="panel-body">
                  <pre class="code">{{modelAsJson}}</pre>
              </div>
          </div>
      </div>
    </div>
  </div>

    <!-- <div class="trash-area">
      <div class="">
          <h4>Trash</h4>
      </div>
    </div> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-drag-and-drop-lists.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <!-- jquery is added for the purpose of dropdown buttons only -->
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
  </body>
</html>