
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Rodello</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="rodelloApp">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Rodello</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <button type="submit" class="btn btn-success">Clear</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="boxes-wrap">
      <div class="container-fluid">
        <div class="col-md-4 col-sm-4">
          <div class="box" ng-controller="cardController">
            <div class="box-header clearfix">
              <h4>BACKLOG</h4>
              <button ng-click="addBacklog()" class="pull-right btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="box-body clearfix">
              <div class="connectedSortable" id="sortableLogs">
                <div class="clearfix card-entry blue" 
                  ng-repeat="card in backlogCards track by $index" 
                  ng-mouseenter="showOptions = true" 
                  ng-mouseleave="showOptions = false" 
                  ng-style="cardColor">
                  <p id="card-name" class="backlog-{{$index}}">{{ backlogCards[$index] }}</p>
                  <div class="clearfix" ng-show="showEdit">
                    <input type="text" class="pull-left backlog-input-{{ $index }}" ng-model="backlogCards[$index]" >
                    <button id="btn-save" class="pull-right backlog-input-{{ $index }}" type="submit" ng-click="save($index); showEdit = false">
                      <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>  
                  </div>
                  <div class="pull-right options" ng-show="showOptions">
                    <a id="btn-edit-name" href="" 
                      ng-click="enableEditor($index); showEdit = true">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <div class="dropdown pl15">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-tasks"></span>
                      </button>
                      <ul class="dropdown-menu pull-right" id="select-color">
                        <li class="blue" ng-click="cardColor={background:'#265a88'}"></li>
                        <li class="green" ng-click="cardColor={background:'#419641'}"></li>
                        <li class="yellow" ng-click="cardColor={background:'#eb9316'}"></li>
                        <li class="red" ng-click="cardColor={background:'#c12e2a'}"></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="box" ng-controller="cardController">
            <div class="box-header clearfix">
              <h4>IN PROGRESS</h4>
              <button ng-click="addCard()" class="pull-right btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="box-body clearfix">
              <div class="connectedSortable" id="sortableLogs">
                <div class="clearfix card-entry blue" 
                  ng-repeat="card in cards track by $index" ng-mouseenter="showOptions = true" ng-mouseleave="showOptions = false" ng-style="cardColor">
                  <p id="card-name" ng-bind="cardTitle"></p>
                  <div class="clearfix" id="edit-wrap" >
                    <input type="text" class="pull-left" ng-model="cardTitle" >
                    <button id="btn-save" class="pull-right" type="submit" ng-click="save()">
                      <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>  
                  </div>
                  <div class="pull-right options" ng-show="showOptions">
                    <a id="btn-edit-name" href="" ng-click="enableEditor()">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <div class="dropdown pl15">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-tasks"></span>
                      </button>
                      <ul class="dropdown-menu pull-right" id="select-color">
                        <li class="blue" ng-click="cardColor={background:'#265a88'}"></li>
                        <li class="green" ng-click="cardColor={background:'#419641'}"></li>
                        <li class="yellow" ng-click="cardColor={background:'#eb9316'}"></li>
                        <li class="red" ng-click="cardColor={background:'#c12e2a'}"></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="box" ng-controller="cardController">
            <div class="box-header clearfix">
              <h4>DONE</h4>
              <button ng-click="addCard()" class="pull-right btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
            <div class="box-body clearfix">
              <div class="connectedSortable" id="sortableLogs">
                <div class="clearfix card-entry blue" 
                  ng-repeat="card in cards track by $index" ng-mouseenter="showOptions = true" ng-mouseleave="showOptions = false" ng-style="cardColor">
                  <p id="card-name" ng-bind="cardTitle"></p>
                  <div class="clearfix" id="edit-wrap" >
                    <input type="text" class="pull-left" ng-model="cardTitle" >
                    <button id="btn-save" class="pull-right" type="submit" ng-click="save()">
                      <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>  
                  </div>
                  <div class="pull-right options" ng-show="showOptions">
                    <a id="btn-edit-name" href="" ng-click="enableEditor()">
                      <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <div class="dropdown pl15">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-tasks"></span>
                      </button>
                      <ul class="dropdown-menu pull-right" id="select-color">
                        <li class="blue" ng-click="cardColor={background:'#265a88'}"></li>
                        <li class="green" ng-click="cardColor={background:'#419641'}"></li>
                        <li class="yellow" ng-click="cardColor={background:'#eb9316'}"></li>
                        <li class="red" ng-click="cardColor={background:'#c12e2a'}"></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="trash-area">
      <div class="">
          <h4>Trash</h4>
      </div>
    </div> -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>